/* 
Dragonfruit Template 
http://www.templatemo.com/preview/templatemo_411_dragonfruit 
*/

body {
    font-family: 'Century Gothic', sans-serif;
}
.container-fluid {
    max-width: 1600px;
}
.container_wapper {
    width: 100%;
    background: #c0c0c0;
}
.rcolor {
    background: #f00;
}
.gcolor {
    background: #0f0;
}
.bcolor {
    background: #00f;
}
h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font: normal normal normal 34px/60px 'Century Gothic', sans-serif;
    color: #3b3b3b;
}
p {
   
    font: normal normal normal 14px/30px 'Century Gothic', sans-serif;
    color: #3b3b3b; 
}

.templatemo_logo a:hover {
	text-decoration: none;
}
/*menu*/
#templatemo_mobile_menu {
    top: 0;
    width: 250px;
    height: 100%;
    background: #f9f9f9;
    position: fixed;
    z-index: 5500;
    right: -1500px;
    display: none;
    overflow: auto;
}
#templatemo_mobile_menu ul li a {
    text-align: left;
    background: #f15556;
    color: #000;
}
#templatemo_mobile_menu ul li:hover a {
    background: #c83233;
	color: #fff;
}
#templatemo_banner_menu {
    width: 100%;
    background: #f9f9f9;
    height: 94px;
    border-bottom: 1px solid #f15556;
    position: fixed;
    top: 0;
    z-index: 5000;
}
#templatemo_banner_menu #logo_img {
    max-height: 90px;
    float: left; 
}
#templatemo_banner_menu #logo_text {
    font: normal normal normal 36px/1em 'Century Gothic', sans-serif;
    margin-top: 30px;
    padding-left: 60px;
    text-align: left;
    color:#080808;
}
#templatemo_banner_menu #logo_text span {
    color: #080808;
}
#templatemo_banner_menu ul li a ,
#templatemo_banner_menu ul li a:focus {
    padding-top: 35px;
    padding-bottom: 35px;
    font: normal normal normal 18px/23px 'Century Gothic', sans-serif;
    color: #000;
    background: repeat-x url("../images/banner_bg.jpg") 0 -94px ;
    transition-duration: .5s;
}
#templatemo_banner_menu ul li a:hover ,
#templatemo_banner_menu ul li a.current
{
    background-position: 0 0px ;
    background-color: #E53935;
    color: #ffffff;
}
#templatemo_banner_menu #mobile_menu {
    padding-top: 25px;
    font-size: 30px;
    float: right;
    color: #E53935;
}
/*banner slide*/
.banner { 
    width: 100%;
    height: 400px;
    margin-top: 94px;
     text-align: center;
    /*position: relative; 
    overflow: visible;*/
}


#homelogo h2{
    background: none ;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    float: inherit;
    font-size:37px;
    text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
}
#homelogo {
    margin-top: 200px;
    width: 100%;
}



/*about our organization*/
#templatemo_about {
    background: #ffffff;
    
}
.about {
    margin-right: 65px;
}
.about h2{
    text-align: center;
    text-decoration-style: solid;
}
.about1 h2{
    text-align: center;
    
}
hr{
    border-top: 3px solid #eee;
}
#executive{
    text-align: center;
}
#executive hr{
    float: none;
    margin-left: 513px;
    margin-right: 517px;
}

#patron {
    border-radius: 50%;
    background: url("../images/vincent.jpg"); 
    float: none;
    margin-left: auto;
    margin-right: auto;
	width: 200px;
	height: 200px; 
   
}
#chairman{
    border-radius: 50%;
    background: url("../images/vincent.jpg"); 
    align-self: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
	width: 200px;
	height: 200px; 
}
#vicechairman{
    border-radius: 50%;
    background: url("../images/peter.jpg"); 
    align-self: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
	width: 200px;
	height: 200px; 
}
#secgen {
    border-radius: 50%;
    background: url("../images/peter.png"); 
	width: 200px;
	height: 200px; 
    float: none;
    margin-left: auto;
    margin-right: auto;
}
#treasurer {
    border-radius: 50%;
    align-self: center;
    background: url("../images/vincent.jpg"); 
	width: 200px;
	height: 200px; 
    float: none;
    margin-left: auto;
    margin-right: auto;
}
#chiefinstructor {
    border-radius: 50%;
    background: url("../images/vincent.jpg"); 
	width: 200px;
	height: 200px; 
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#text {
    
    text-align: center;
}

/*training venues*/
#templatemo_events {
    background: #6698b5;
    float: left;
    overflow: hidden;
}
#templatemo_events h1{
    color: #fff;
    text-align: center;
}
#templatemo_events .event_box_wap {
    overflow:hidden;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
}
#templatemo_events .event_box_wap .event_box_img {
    position: relative;
    top: 0;
}
#templatemo_events .event_box_wap .event_box_caption {
    position: relative;
    top: 0;
    padding-bottom: 10px;
    background: #fff;
    width: 100%;
    border-top: 3px solid #3c6f8c;
}
#templatemo_events .event_box_wap h1,
#templatemo_events .event_box_wap p {
    margin: 0;
    color: #000000;
    text-align: center;
}
#templatemo_events .event_box_wap p {
    padding: 5px 20px 15px 20px;
}
#templatemo_events .event_box_wap h1 {
    padding: 20px 20px 20px 20px;
    font-size: 24px;
    line-height: 24px;
}
/*timeline*/
#templatemo_timeline {
    background: #fff;
    float: left;
}
#templatemo_timeline .container-fluid {
    max-width: 1600px;
    position: absolute;
    margin: auto;
    margin-bottom: 80px;
    background: url("../images/time_line_bg.jpg") repeat-y center top;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#templatemo_timeline .time_line_wap {
    position: absolute;
    display: none;
}
#templatemo_timeline .time_line_caption {
    background: #f15556;
    padding: 10px 20px 10px 20px ;
    border-radius: 5px;
    height: 40px;
    clear: both;
    color: #fff; 
}
#templatemo_timeline .time_line_paragraph {
    background: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 50px;
    font-family: 'Century Gothic', sans-serif;
}
#templatemo_timeline .time_line_paragraph a {
    color: #000;
    text-decoration: underline;
}
#templatemo_timeline .left_timeline {
    margin-left: 30px;
}
#templatemo_timeline .left_timeline .time_line_caption {
    float: right;
    margin-right: 0px;
}
#templatemo_timeline .right_timeline .time_line_caption {
    float: left;
}
#templatemo_timeline .time_line_paragraph h1 {
    text-align: left;
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    padding: 20px 20px 20px 20px;
}
#templatemo_timeline .time_line_paragraph p {
    padding: 0px 20px 20px 20px;
    text-align: left;
    margin: 0;
    font-size: 14px;
    line-height: 2em;
    color: #000;
}
#templatemo_timeline .left_timer {
    float: right;
    background: url("../images/arrow_left.png") 0 5px;
}
#templatemo_timeline .right_timer {
    float: left;
    background: url("../images/arrow_right.png") 0px 5px;
}
#templatemo_timeline .left_timer ,
#templatemo_timeline .right_timer {
    padding-left:30px;
    width: 101px;
    position: absolute;
}
#templatemo_timeline .left_timer span,
#templatemo_timeline .right_timer span {
    border-radius: 20px;
    width: 30px;
    height: 30px;
    background: #e6e6e6;
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding-top: 3px;
    margin-top: 3px;
}
.jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('/theme/img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/*contact*/
#templatemo_contact {
    background: #6698b5;
    float: left;
}
#templatemo_contact h1 {
    color: #fff;
}
#templatemo_contact h2 {
    font-size: 24px;
    color: #fff;
    padding-top: 0;
    padding-bottom: 20px;
}
#templatemo_contact_map {
    width: 100%;
    height: 320px;
    float: left;
    margin-bottom: 40px;
}
#templatemo_contact ul li a {
    background: none;
}
#templatemo_contact ul li a i {
    width: 60px;
    padding: 20px 0;
    font-size: 32px;
    color: #fff;
    text-align: center;
}
#templatemo_contact p {
    color: #fff;
    line-height: 30px;
	margin-top: 15px;
}
#templatemo_contact input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
}
#templatemo_contact textarea {
    border: none;
    width: 100%;
    height: 150px;
    padding: 10px;
}
#templatemo_contact button {
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background: #eaeaea;
}
#templatemo_contact button:hover {
    background: #f4f4f4;
}
/*templatemo_footer*/
#templatemo_footer {
    width: 100%;
    border-top: 2px solid #507f9a;
    height: 70px;
    background: #447693;
    float: left;
}
#templatemo_footer p {
    padding-top: 20px;
    color: #fff;
    text-align: center;
}
#templatemo_footer a {
    color: #fff;
    text-decoration: underline;
}
/*  Small devices (tablets, 768px and up)  */
@media (max-width: 768px ) { 
    #templatemo_about .pre_next {
        font-size: 15px;
    }
    #templatemo_timeline .right_timer {
        background-position: center center;
    }
}
/*  Medium devices (desktops, 992px and up)  */
@media (max-width: 970px ) {
    #templatemo_timeline .right_timer {
        background-position: 100px 5px;
    }
    #templatemo_banner_menu #logo_text {
        font: normal normal normal 30px/1em 'Century Gothic', sans-serif;
    }
    #templatemo_timeline .container-fluid {
        background: url("../images/time_line_bg.jpg") repeat-y 28px 0;
    }
}
/*  Large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px ) {
}